/.idea/.gitignore
/.idea/Content Provider.iml
/.idea/modules.xml
/.idea/vcs.xml
/ContentResolver_app/.idea/inspectionProfiles/Project_Default.xml
/ContentResolver_app/.idea/.gitignore
/ContentResolver_app/.idea/compiler.xml
/ContentResolver_app/.idea/deploymentTargetDropDown.xml
/ContentResolver_app/.idea/gradle.xml
/ContentResolver_app/.idea/kotlinc.xml
/ContentResolver_app/.idea/migrations.xml
/ContentResolver_app/.idea/misc.xml
/CustomContentProvider/.idea/inspectionProfiles/Project_Default.xml
/CustomContentProvider/.idea/sonarlint/issuestore/0/3/03fee4a65f3e8129f26a8b77288f9b066cdf952b
/CustomContentProvider/.idea/sonarlint/issuestore/0/9/09d8103476de79bc4e024bf33477a77d47ce475b
/CustomContentProvider/.idea/sonarlint/issuestore/1/d/1de0a6454e36b5b15b37ca5e5ef067e96f540585
/CustomContentProvider/.idea/sonarlint/issuestore/2/3/23663551b0147398a366650357578fe102b5e54e
/CustomContentProvider/.idea/sonarlint/issuestore/2/a/2afbb999f001938c88fa43fc2ef52abf0f8213e4
/CustomContentProvider/.idea/sonarlint/issuestore/2/e/2efe56a9b4ab0f94c31382810d5f565c7ef872e9
/CustomContentProvider/.idea/sonarlint/issuestore/2/f/2fdd71844ed9a5ef0d1851ea2c2a64b3c2611d33
/CustomContentProvider/.idea/sonarlint/issuestore/5/c/5c2fd809603949ba603c56ee42eed61596066748
/CustomContentProvider/.idea/sonarlint/issuestore/7/4/749edfcc96398253e5b3416184e95c46621da850
/CustomContentProvider/.idea/sonarlint/issuestore/7/e/7e80f14359d8318728e0612643e681273cebbffb
/CustomContentProvider/.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/CustomContentProvider/.idea/sonarlint/issuestore/8/c/8cdd8198518680d9267a233fa4c74b40b612cfba
/CustomContentProvider/.idea/sonarlint/issuestore/9/2/92218888cba89bf8d22d5fffed01ab945f423f7e
/CustomContentProvider/.idea/sonarlint/issuestore/a/c/acf7dbee8869266b5896eb2f23050e8cba044777
/CustomContentProvider/.idea/sonarlint/issuestore/b/0/b0953e5cf6c543deb16f1d80c75c90e9ef86b831
/CustomContentProvider/.idea/sonarlint/issuestore/b/8/b8f162442e03ec0a16945e8cb75f2d03ebed8606
/CustomContentProvider/.idea/sonarlint/issuestore/b/c/bc6ebeef5c29dc025491a2400d7e81e668d13f98
/CustomContentProvider/.idea/sonarlint/issuestore/d/2/d2a4383452aad84a18429a5844d31330a012a9e6
/CustomContentProvider/.idea/sonarlint/issuestore/d/7/d7b96a4c42f4d322bf7b3203e0cff7af2816f3d6
/CustomContentProvider/.idea/sonarlint/issuestore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
/CustomContentProvider/.idea/sonarlint/issuestore/f/b/fbe448ebfc3eb2d4e308f6b8b043666f5b57235e
/CustomContentProvider/.idea/sonarlint/issuestore/f/d/fd7b5c28ef68b25f37e5f3f57c04be08fcc9d8f7
/CustomContentProvider/.idea/sonarlint/issuestore/index.pb
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/0/3/03fee4a65f3e8129f26a8b77288f9b066cdf952b
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/0/9/09d8103476de79bc4e024bf33477a77d47ce475b
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/1/d/1de0a6454e36b5b15b37ca5e5ef067e96f540585
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/2/3/23663551b0147398a366650357578fe102b5e54e
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/2/a/2afbb999f001938c88fa43fc2ef52abf0f8213e4
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/2/e/2efe56a9b4ab0f94c31382810d5f565c7ef872e9
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/2/f/2fdd71844ed9a5ef0d1851ea2c2a64b3c2611d33
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/5/c/5c2fd809603949ba603c56ee42eed61596066748
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/7/4/749edfcc96398253e5b3416184e95c46621da850
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/7/e/7e80f14359d8318728e0612643e681273cebbffb
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/8/c/8cdd8198518680d9267a233fa4c74b40b612cfba
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/9/2/92218888cba89bf8d22d5fffed01ab945f423f7e
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/a/c/acf7dbee8869266b5896eb2f23050e8cba044777
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/b/0/b0953e5cf6c543deb16f1d80c75c90e9ef86b831
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/b/8/b8f162442e03ec0a16945e8cb75f2d03ebed8606
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/b/c/bc6ebeef5c29dc025491a2400d7e81e668d13f98
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/d/2/d2a4383452aad84a18429a5844d31330a012a9e6
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/d/7/d7b96a4c42f4d322bf7b3203e0cff7af2816f3d6
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/f/b/fbe448ebfc3eb2d4e308f6b8b043666f5b57235e
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/f/d/fd7b5c28ef68b25f37e5f3f57c04be08fcc9d8f7
/CustomContentProvider/.idea/sonarlint/securityhotspotstore/index.pb
/CustomContentProvider/.idea/.gitignore
/CustomContentProvider/.idea/compiler.xml
/CustomContentProvider/.idea/deploymentTargetDropDown.xml
/CustomContentProvider/.idea/gradle.xml
/CustomContentProvider/.idea/kotlinc.xml
/CustomContentProvider/.idea/migrations.xml
/CustomContentProvider/.idea/misc.xml
/ContentResolver_app/.idea/vcs.xml
/CustomContentProvider/.idea/vcs.xml
